<mat-card>
	<mat-form-field>
	    <input matInput placeholder="Add User Name" [(ngModel)]="enteredUserName" required>
	</mat-form-field>
	<br>
	<mat-form-field>
	  	<mat-select placeholder="Add Status" [(ngModel)]="enteredStatus">
	    	<mat-option *ngFor="let status of statusOptions" [value]="status.value">
	      		{{status.value}}
	    	</mat-option>
	  	</mat-select>
	</mat-form-field>
	<br>
	<mat-form-field>
	    <input matInput placeholder="Add Remark" [(ngModel)]="enteredRemark">
	</mat-form-field>
	<br>
	<button mat-raised-button color="accent" (click)="onAddAttendence()">
		Submit
	</button>
</mat-card>
<p>{{newPost}}</p>
